{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
  <div class="">

    <div class="row top_tiles" style="margin: 10px 0;">
      <div class="col-md-3 tile">
        <span>产品总数</span>
        <h2>5</h2>
        <span class="sparkline_three" style="height: 160px;">
                      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                  </span>
      </div>
      <div class="col-md-3 tile">
        <span>设备总数</span>
        <h2>8</h2>
        <span class="sparkline_three" style="height: 160px;">
                      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                  </span>
      </div>
      <div class="col-md-3 tile">
        <span>在线总数</span>
        <h2>6</h2>
        <span class="sparkline_two" style="height: 160px;">
                      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                  </span>
      </div>
      <div class="col-md-3 tile">
        <span>故障总数</span>
        <h2>2</h2>
        <span class="sparkline_two" style="height: 160px;">
                      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                  </span>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph x_panel">
          <div class="row x_title">
            <div class="col-md-6">
              <h2>设备在线数<small>equipments online</small></h2>
            </div>
            <div class="col-md-6">
              <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
              </div>
            </div>
          </div>
          <div class="x_content">
            <div class="demo-container" style="height:250px">
              <div id="chart_plot_03" class="demo-placeholder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel fixed_height_320">
          <div class="x_title">
            <h2>产品分布 <small>Product</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div id="products" style="height:300px;"></div>
            

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel fixed_height_320">
          <div class="x_title">
            <h2>地域分布 <small>Region</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div id="region" style="height:300px;"></div>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel fixed_height_320">
          <div class="x_title">
            <h2>故障率 <small>Error</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div id="error" style="height:300px;"></div>

          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}



  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
 
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
 
  <!-- jQuery Sparklines -->
  <script src="{{ url_for('static', filename='vendors/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
  <!-- easy-pie-chart -->
  <script src="{{ url_for('static', filename='vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>
  <!-- ECharts -->
  <script src="{{ url_for('static', filename='vendors/echarts/dist/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/echarts/map/js/world.js') }}"></script>

  
  <script type="text/javascript">
    // 初始化图表标签
    var myChart = echarts.init(document.getElementById('products'));
    var options={
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    series : [
        {
            name: 'protduct',
            type: 'pie',
            radius : '45%',
            center: ['50%', '40%'],
            data:[
                {value:35, name:'protduct1'},
                {value:310, name:'protduct2'},
                {value:234, name:'protduct3'},
                {value:135, name:'protduct4'},
                {value:148, name:'protduct5'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
    myChart.showLoading(); // 显示加载动画

    $.get('/api/distribute/product').done(function (data) {
        myChart.hideLoading(); // 隐藏加载动画

        // 填入数据
        myChart.setOption({
                    series: [{
                        name: 'protduct',
                        type: 'pie',
                        radius : '45%',

                        data: data.product_distribute
                    }]
        });
    });
</script>


  <script type="text/javascript">
    // 初始化图表标签
    var myChart1 = echarts.init(document.getElementById('region'));
    var options={
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    series : [
        {
            name: 'region',
            type: 'pie',
            radius : '45%',
            center: ['50%', '40%'],
            data:[
                {value:35, name:'protduct1'},
                {value:310, name:'protduct2'},
                {value:234, name:'protduct3'},
                {value:135, name:'protduct4'},
                {value:148, name:'protduct5'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
    myChart1.showLoading(); // 显示加载动画

    $.get('/api/distribute/region').done(function (data) {
        myChart1.hideLoading(); // 隐藏加载动画

        // 填入数据
        myChart1.setOption({
                    series: [{
                        name: 'region',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: data.region_distribute
                    }]


        });
    });
</script>

  <script type="text/javascript">
    // 初始化图表标签
    var myChart2 = echarts.init(document.getElementById('error'));
    var options = {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
    series: [
        {
            name: '故障指标',
            type: 'gauge',
            radius: '55%',
            center: ['50%', '40%'],
            detail: {formatter:'{value}%'},
            data: [{value: 6, name: ''}]
        }
    ]
};
    myChart2.setOption(options);
</script>

{% endblock javascripts %}

