{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
      <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> 用户总数</span>
        <div class="count green">15</div>
        <span class="count_bottom"><i class="green">4% </i> From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-tags"></i> 产品型号</span>
        <div class="count green">6</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-cog"></i> 设备总数</span>
        <div class="count green">212</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-bar-chart"></i> 在线总数</span>
        <div class="count green">45</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-newspaper-o"></i> 记录条数</span>
        <div class="count green">56,315</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
      </div>
      <div id='error_number' class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-exclamation-circle"></i> 故障总数</span>
        <div class="count red">7</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
      </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph x_panel">
          <div class="row x_title">
            <div class="col-md-6">
              <h2>设备在线数<small>equipments online</small></h2>
            </div>
            <div class="col-md-6">
              <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
              </div>
            </div>
          </div>
          <div class="x_content">
            <div class="demo-container" style="height:250px">
              <div id="device_online" class="demo-placeholder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel fixed_height_320">
          <div class="x_title">
            <h2>产品分布 <small>Product</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div id="products" style="height:300px;"></div>
            

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel fixed_height_320">
          <div class="x_title">
            <h2>地域分布 <small>Region</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div id="region" style="height:300px;"></div>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel fixed_height_320">
          <div class="x_title">
            <h2>故障率 <small>Error</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div id='error_rate' class="x_content">
              <div id="error" style="height:300px;"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}


  <!-- ECharts -->
  <script src="{{ url_for('static', filename='vendors/echarts/dist/echarts.min.js') }}"></script>

 
  <script type="text/javascript">
    // 初始化图表标签
    var device_online_chart = echarts.init(document.getElementById('device_online'));
    var option = {
    xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [820, 932, 901, 934, 1290, 1330, 1320],
        type: 'line',
        smooth: true
    }]
    };
    device_online_chart.showLoading(); // 显示加载动画

    $.get('/api/device/online/' + {{ current_user.id }}).done(function (data) {
        device_online_chart.hideLoading(); // 隐藏加载动画

        // 填入数据
        console.log(data);
        device_online_chart.setOption({
          xAxis: {
              type: 'category',
              data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
          },
          yAxis: {
              type: 'value'
          },
          series: [{
              type: 'line',
              smooth: true,
              data: data
          }]
        });
    });
  </script>
  
  <script type="text/javascript">
    // 初始化图表标签
    var myChart = echarts.init(document.getElementById('products'));
    var options={
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    series : [
        {
            name: 'protduct',
            type: 'pie',
            radius : '45%',
            center: ['50%', '40%'],
            data:[
                {value:35, name:'protduct1'},
                {value:310, name:'protduct2'},
                {value:234, name:'protduct3'},
                {value:135, name:'protduct4'},
                {value:148, name:'protduct5'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
    myChart.showLoading(); // 显示加载动画

    $.get('/api/distribute/product').done(function (data) {
        myChart.hideLoading(); // 隐藏加载动画

        // 填入数据
        myChart.setOption({
                    series: [{
                        name: 'region',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        center: ['50%', '40%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: data.product_distribute
                    }]
        });
    });
</script>


  <script type="text/javascript">
    // 初始化图表标签
    var myChart1 = echarts.init(document.getElementById('region'));
    var options={
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    series : [
        {
            name: 'region',
            type: 'pie',
            radius : '45%',
            center: ['50%', '40%'],
            data:[
                {value:35, name:'protduct1'},
                {value:310, name:'protduct2'},
                {value:234, name:'protduct3'},
                {value:135, name:'protduct4'},
                {value:148, name:'protduct5'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
    myChart1.showLoading(); // 显示加载动画

    $.get('/api/distribute/region').done(function (data) {
        myChart1.hideLoading(); // 隐藏加载动画

        // 填入数据
        myChart1.setOption({
                    series: [{
                        name: 'region',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        center: ['50%', '40%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: data.region_distribute
                    }]


        });
    });
</script>

  <script type="text/javascript">
    // 初始化图表标签
    var myChart2 = echarts.init(document.getElementById('error'));
    var options = {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
    series: [
        {
            name: '故障指标',
            type: 'gauge',
            radius: '75%',
            center: ['50%', '40%'],
            detail: {formatter:'{value}%'},
            data: [{value: 6, name: ''}]
        }
    ]
};
    myChart2.setOption(options);
</script>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#error_number").click(function(){
        console.log('clicked error!')
          location.href='../conf2d/alarm_records/' + {{ current_user.id }};
      });

      $("#error_rate").click(function(){
        console.log('clicked error!')
          location.href='../conf2d/alarm_records/' + {{ current_user.id }};
      });
    });
  </script>

{% endblock javascripts %}

